@model Resposta

<div class="mb-3" style="padding-top: 10px">
   <input name="Buscar" id="Buscar"  class="form-control form-control-lg Buscar" aria-label=".form-control-lg example" placeholder="Buscar"></input>
</div>

<table class="table" id="amigostb">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Nascimento</th>
      <th> <a href="/Amigos/Cadastro">  <button> Cadastrar Produto </button></a> </th>
    </tr>
  </thead>
  <tbody>
        @foreach(var amigo in Model.Amigos)
        {
            <tr>
              <th scope="row">@amigo.Id</th>
              <td>@amigo.Nome</td>
              <td>@amigo.Sobrenome</td>
              <td>@amigo.Nascimento</td>
              <td>
                  <a href="/Amigos/Editar?id=@amigo.Id">
                            <button>
                            <!-- icone EDITAR -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg>
                            </button>
                  
                  </a> 
                  
                  <a href="/Amigos/Excluir?id=@amigo.Id">
                            <!-- icone EXCLUIR -->
                            <button>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                            </button>
                  </a> 
              </td>
            </tr>
        }
  </tbody>
</table>


             <br /><br />  <br /><br />                     
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th>  </th>
        <th></th>
        <th>  Aniversariante </th>
        <th>  </th>
        <th>  </th>
    </tr>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Nascimento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
        @foreach(var amigo in Model.Aniversariante)
        {
            <tr>
              <th scope="row">@amigo.Id</th>
              <td>@amigo.Nome</td>
              <td>@amigo.Sobrenome</td>
              <td>@amigo.Nascimento</td>
              <td>
                  <a href="/Amigos/Editar?id=@amigo.Id">
                            <button>
                            <!-- icone EDITAR -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg>
                            </button>
                  
                  </a> 
                  
                  <a href="/Amigos/Excluir?id=@amigo.Id">
                            <!-- icone EXCLUIR -->
                            <button>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                            </button>
                  </a> 
              </td>
            </tr>
        }
  </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
            
            var parametro = $("#Buscar").val;
            var resposta;

            $( "#Buscar" ).keyup(function() {
                
                var parametro = $("#Buscar").val();
                
                $.get("/Amigos/Buscar",  { nome: parametro }, function (data) {
                    resposta = data;
                }).fail(function (jqxhr, status, error) {
                    alert(error);
                });

                console.log(resposta);

                var conteudoTabela =  "<table class='table' id='amigostb'> <thead class='thead-dark'><tr><th scope='col'>Id</th><th scope='col'>Nome</th> <th scope='col'>Sobrenome</th><th scope='col'>Nascimento</th><th> <a href='/Amigos/Cadastro'>  <button> Cadastrar Produto </button></a> </th></tr> </thead><tbody>";
                                                                                                                     
                 resposta.forEach(amigo => {
                     conteudoTabela += "<tr>";
                     conteudoTabela += "<td>" + amigo.id + "</td>";
                     conteudoTabela += "<td>" + amigo.nome + "</td>";
                     conteudoTabela += "<td>" + amigo.sobrenome + "</td>";
                     conteudoTabela += "<td>" + amigo.nascimento + "</td>";
                     
                     conteudoTabela += "<td> <a href='/Amigos/Editar?id='" + amigo.Id + "><button><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil' viewBox='0 0 16 16'><path d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/></svg> </button></a> <a href='/Amigos/Excluir?id="+amigo.Id+"'><button><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'><path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/><path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/> </svg> </button></a> </td>"
                    
                     
                     conteudoTabela += "</tr>";
                });
                conteudoTabela += " </tr>";
                conteudoTabela += "</tbody></table>";

                console.log(conteudoTabela);
                console.log(conteudoTabela);
                var tabela = document.getElementById('amigostb');


                // criar o inner html com o foreach dps adicionar a variavel com append.
                console.log();
                var html = "test";
                //<table name='amigostb' id='amigostb' class='table table-primary table-striped amigostb'><thead><tr><th scope='col'> Id </th><th scope='col'> Nome </th><th scope='col'> Aniversario </th><th scope='col'> Acoes </th><th scope='col'> <input type='submit' onclick='redirect()' class='btn btn-primary' style='width:50%;height:40px;' value='+ Cadastrar'/> </th></tr></thead><tbody>"+"<tr><th scope='row'>"+"</th><td>"+"</td><td>" +"</td><td><a href='/Amigo/AlterarAmigo'"+">  Editar </a> </td><td> <a href='/Amigo/ExcluirAmigo'"+"> Excluir </a> </td></tr>"+"</tbody></table>
                console.log(html);
                tabela = tabela.innerHTML = conteudoTabela;

           

            });
    </script>